*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
h3,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
.main-container {
  position: relative;
  max-width: 40rem;
  height: 100%;
  margin: 0 auto;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  padding: 2.5rem;
}
header {
  margin-bottom: 35px;
}
h1 {
  font-weight: 300;
  font-size: 1.4rem;
  color: hsl(0, 0%, 59%);
}
span {
  color: black;
  font-weight: 700;
}
.subheading {
  font-size: 0.95rem;
}
h1,
.subheading {
  margin-bottom: 15px;
}
form {
  margin-top: 35px;
  margin-bottom: 12px;
}
.error {
  font-size: 0.95rem;
  color: hsl(354, 100%, 66%);
  font-style: italic;
  margin-top: -10px;
  margin-bottom: 20px;
  display: none;
}
input {
  border-radius: 20px;
  padding: 10px 10px 10px 30px;
  border-color: hsl(223, 100%, 88%);
  border-width: 1px;
  width: 100%;
  font-size: 1rem;
}
::placeholder {
  color: hsl(223, 100%, 88%);
}
button {
  width: 100%;
  border-radius: 20px;
  padding: 0.8rem;
  color: white;
  background-color: hsl(223, 87%, 63%);
  border: none;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 20px;
  margin-top: 50px;
  color: hsl(0, 0%, 59%);
}
.socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.social-link {
  display: inline-block;
  width: 40px;
  margin: 0 6px;
  border: solid 0.5px hsl(223, 87%, 63%);
  border-radius: 100px;
  cursor: pointer;
  padding: 0.2rem;
}
i{
  color: hsl(223, 87%, 63%);
}
.social-link:hover {
  background-color: hsl(223, 87%, 63%);
}
.social-link:hover .social-icon{
  color: white
}
.social-icon {
  font-size: 1rem;
}
footer p {
  font-size: 0.7rem;
}

@media screen and (min-width: 900px) {
  .submit-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
  }
  form {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
  }
  button {
    margin-bottom: 0;
    width: 10rem;
  }
}
